*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}
header{
    height: 900px;
      
}
.heropanel{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: aliceblue;             
    background-image: url(/NetflixProject/img/netflixbanner3.jpg);
   
    
}

.navbar{
    height: 88px;
    display: flex;
    align-items: center;
}

h1{
    margin-left: 50px;
    height: 60px;
    width: 160px;
    background-image: url(/NetflixProject/img/netflix\ logo-Photoroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

}

.extra{
    width: 60%;
}

.cont {
    color: white;
    display: flex;
}

.lang{
    height: 32px;
    width: 124px;
    border: 0.5px solid rgb(209, 206, 206);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont select{
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    -webkit-appearance: none; /* used to remove the icon */
}

#icon {
    font-size: 9px;
}

/* For sign in button */

.cont button {
    margin-left: 10px;
    height: 34px;
    width: 77px;
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    font-size: 15px;
}

button:hover{
    background-color: rgb(180, 11, 19);
}