*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    /* background-color: black; */
    
}
header{
    height: 800px;
      
}
.heropanel{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: aliceblue;             
    background-image: url(/NetflixProject/img/netflixbanner3.jpg);
   
    
}

.navbar{
    height: 88px;
    display: flex;
    align-items: center;
}

#image{
    margin-left: 150px;
    height: 48px;
    width: 200px;
    background-image: url(/NetflixProject/img/Netflix_Logo_RGB.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

}

.extra{
    width: 50%;
}

.cont {
    color: white;
    display: flex;
}

.lang{
    height: 32px;
    width: 124px;
    border: 0.5px solid rgb(209, 206, 206);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont select{
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    /* -webkit-appearance: none; used to remove the icon */
    appearance: none;
}

#icon {
    font-size: 9px;
    margin-bottom: 5px;
}

/* For sign in button */

.cont button {
    margin-left: 10px;
    height: 34px;
    width: 77px;
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    font-size: 15px;
}

button:hover{
    background-color: rgb(180, 11, 19);
}


.textbanner {
    height: 620px;
    color: white;
    padding: 0px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.headertext{
    height: 200px;
    width: 588px;  
    text-align: center;
    font-weight:bolder;    
}
#htext{
    font-size: 56px;
    margin-bottom: 16px;
}
#smalltext {
    font-size: 20px;
    margin-bottom: 32px;  
}

h3{
    height: 24px;
    width: 588px;
    font-size: 16px;
    font-weight:lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logind{
    padding-top: 16px;
    height: 56px;
    width: 588px;
    display: flex;
    justify-content: space-between;
}

.emailinput{
    height: 24px;
    width: 366.75px;
    background: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(125, 119, 119);
    border-style: solid;
    padding: 20px 16px 10px 16px;
    font-size: 16px;
    text-align: start;
    color: white;
}

.gsbutton{
    background-color: rgb(229, 9, 20);
    border-color: rgb(229, 9, 20);
    border: none;
    width: 180px;
    height: 55px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.rightangle{
    margin-left: 8px;
}

/* After input and button */

.container{
    height: 50px;
    color: white;
    background-color: black;
}

.curveborder{
    height: 100px ;
    align-items: end;
    border-top-left-radius: 100% ;
    border-top-right-radius: 100% ;
    border: 6px solid transparent;
    /* border-bottom: none; */
    border-left: none;
    border-right: none; 
    background:
    linear-gradient(#615ebeed,#000000,#000000,#000000) padding-box,
    linear-gradient(45deg, black,#ff006a, #ff4b2b,#ff006a,black) border-box;
    box-sizing: border-box;
         
}

.bigcontainer{
    padding-left: 148px;
    padding-right: 148px;
    height:1450px;
    background-color: black;
    color: white;
    
}

#trending{
    font-size: 24px;
    font-weight: bolder;   
}

.scrollmov{
    height: 314px;
    
    
}

.scroll{
    height: 260px;
    display: flex;
    justify-content: space-between;
    /* overflow: auto;
    white-space: nowrap; */
}

.posters{
    height: 196px;
    width: 140px;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-left: 22px  ;
    padding-right:  22px;  
    

}

#mrtojoin{
    margin-top: 20px;
    font-size: 24px;
}

/* Small Squares */

.smallsquares{
    height: 290px;
    display: flex;
    justify-content: space-between;
}

.sq{
    background: linear-gradient(180deg, #1f1b4d 0%, #0b0b22 50%, #090611 100%);
    height: 278px;
    width: 294px;
    margin-top: 20px;
    border-radius: 20px;
    
}

#sstitle{
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
}

#sspara{
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
}

.fqaskcontainer{
    height: 600px;
    margin-top: 16px;
}

.fqquest{
    height: 36px;
    margin-bottom: 8px;
    background-color: rgb(45, 45, 45);
    padding: 24px;
    font-size: 24px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fqquest:hover{
    background-color: rgb(106, 108, 108);
}

#fqheaders{
    font-size: 24px;
    font-weight: 400;
}

#heading{
    font-weight: 300;
    text-align: center;
    font-size: 16px;
}

/* For input and button */

.inputandbutton{
    margin-top: 16px;
    height: 54px;
    display: flex;
    justify-content: center;;
}

.emailinput2{
    height: 24px;
    width: 562px;
    background: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(125, 119, 119);
    border-style: solid;
    padding: 20px 16px 10px 16px;
    font-size: 16px;
    text-align: start;
    color: white;
}

.gsbutton2{
    background-color: rgb(229, 9, 20);
    border-color: rgb(229, 9, 20);
    border: none;
    width: 180px;
    height: 55px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

/* Netflix footer */

.footercontainer{
    background-color: #000000;
    height: 550px;
    box-sizing: border-box;
    padding-left: 148px;
    padding-right: 148px;
}
                /* For FC1 */
.fc1{
    height: 20px;
    width: 269px;
    box-sizing: border-box;
    padding-left: 3px;
    color: rgba(255, 255, 255, 0.7);
}

.link1{
    color: rgba(255, 255, 255, 0.7);
}

            /* For FC2 */

.fc2{
    height:132px;
    margin-top: 36px;
    box-sizing: border-box;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

ul a{
    display: block;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 12px;
    font-size: 14px;
}
            /* For FC3 */
.lang1{
    height: 32px;
    width: 124px;
    margin-top: 36px;
    border: 0.5px solid rgb(209, 206, 206);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fcselect{
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    /* -webkit-appearance: none; used to remove the icon */
    appearance: none;
}

#icon2{
    color: white;
}

#icon3{
    color: white;
    margin-bottom: 7px;
}

         /* For FC4 */

.fc4{
    height: 100px;
    margin-top: 36px;
}

#fc41{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

#fc42{
    font-size: 13px;
    margin-top: 36px;
    color: rgba(174, 161, 161, 0.7);
}

#fc42 a{
    color: rgb(128, 130, 250);
}

            /* For FC5 */

.fc5{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.myname{
    font-size: 25px;
    color: rgb(0, 0, 0);
    
    font-weight: bolder;
}

.myname:hover{
    color: rgb(229, 9, 20);
}