*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    /* background-color: black; */
    
}
header{
    height: 800px;
      
}
.heropanel{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: aliceblue;             
    background-image: url(/NetflixProject/img/netflixbanner3.jpg);
   
    
}

.navbar{
    height: 88px;
    display: flex;
    align-items: center;
}

#image{
    margin-left: 150px;
    height: 48px;
    width: 200px;
    background-image: url(/NetflixProject/img/netflix\ logo-Photoroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

}

.extra{
    width: 50%;
}

.cont {
    color: white;
    display: flex;
}

.lang{
    height: 32px;
    width: 124px;
    border: 0.5px solid rgb(209, 206, 206);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont select{
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    /* -webkit-appearance: none; used to remove the icon */
    appearance: none;
}

#icon {
    font-size: 9px;
    margin-bottom: 5px;
}

/* For sign in button */

.cont button {
    margin-left: 10px;
    height: 34px;
    width: 77px;
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    font-size: 15px;
}

button:hover{
    background-color: rgb(180, 11, 19);
}


.textbanner {
    height: 620px;
    color: white;
    padding: 0px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.headertext{
    height: 200px;
    width: 588px;  
    text-align: center;
    font-weight:bolder;    
}
#htext{
    font-size: 56px;
    margin-bottom: 16px;
}
#smalltext {
    font-size: 20px;
    margin-bottom: 32px;  
}

h3{
    height: 24px;
    width: 588px;
    font-size: 16px;
    font-weight:lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logind{
    padding-top: 16px;
    height: 56px;
    width: 588px;
    display: flex;
    justify-content: space-between;
}

.emailinput{
    height: 24px;
    width: 366.75px;
    background: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(125, 119, 119);
    border-style: solid;
    padding: 20px 16px 10px 16px;
    font-size: 16px;
    text-align: start;
    color: white;
}

.gsbutton{
    background-color: rgb(229, 9, 20);
    border-color: rgb(229, 9, 20);
    border: none;
    width: 180px;
    height: 55px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.rightangle{
    margin-left: 8px;
}

/* After input and button */

.container{
    height: 900px;
    background-color: black;
}